*{
    font-family: Helvetica, sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
  background-color: grey;
  padding: 1rem;
  border: 1px soiid red;
 
}

.form-div{
    width: 50%;
    margin: 0 auto;
    display: grid;
}

input,select{
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    border: 1px solid yellow;
}

#btn{
    margin-top:0.5rem;
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    background-color: rgb(32, 29, 29);
    color: white;
}

#output{
    display: flex;

}

#first, #second, #third{
    border: 1px solid red;
    width: 35%;
}
